    *{
      padding: 0;
      margin: 0;
    }
    body {
      background-color: #f2f3f4;
      font-family: serif;
      color: #5e568c;
      line-height: 1.5;
      text-align:center;
      margin: 0 auto;




    }

    #body{
      margin: 0 auto;
    }

    h1 {
      font-family: Helvetica, sans-serif;
      color:  white;
      font-size: 30px;
      line-height: 20px;
      text-align: center;
    }

    h2 {
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }
    h3 {
      font-size: 30px;
      line-height: 30px;
      color: black;
    }
     }


    a {
      color: red;
      text-decoration: none;
      margin: center;
    }

    a:hover {
      color: gray
    }
    #msz1{
      background-color: black;
      padding: 50px;
      text-align:0 auto;
      width: 500px auto;
      border:solid 5px;


          }

    #profile {
    border-radius: 50%;
    }
    .container {
  width: 500px;
  margin: 0 auto;
}


@media (max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
img-circle {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.2)
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;

}

.text-center{
  text-align: center;
}

#media .fa {
  font-size: 40px;
}
#footer{
  background-color: black;
}



